@model IEnumerable<AnnonsTjanst.ServiceReference1.Annonser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Lägg till ny annons", "Skapa", "Annons")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annonsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annonsNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beskrivning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.betalningsmetod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bild)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.koparID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saljarID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.status != "Såld")
    { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annonsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annonsNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beskrivning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.betalningsmetod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bild)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.koparID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saljarID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            <button class="btn btn-default border-dark" style="background:#3BD1FF"> @Html.ActionLink("Edit", "Redigera", "Annons", new { id = item.annonsID }, null)</button> 
            <button class="btn btn-default border-dark" style="background:#3BD1FF"> @Html.ActionLink("Details", "Detaljer", "Annons", new { id = item.annonsID }, null)</button> 
        </td>
    </tr>
    }
}

</table>
