@model AnnonsTjanst.ServiceReference1.Annonser

@{
    ViewBag.Title = "Detaljer";
}

<table class="table">
    <tr>
        <th>
            Vara
        </th>
        <th>
            Beskrivning
        </th>
        @*<th>
                Bild
            </th>*@
        <th>
            Kategori
        </th>
        <th>
            Pris
        </th>
        @*<th>
                Betalningsmetod
            </th>*@
        <th>
            Ort
        </th>
        <th>
            Adress
        </th>
        <th>
            Postnummer
        </th>
        <th>
            Datum
        </th>
        <th>
            Status
        </th>
        <th>
            Köpare
        </th>
        <th>
            Säljare
        </th>
        @*<th>
                AnnonsID
            </th>*@
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.annonsNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.beskrivning)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => modelItem.bild)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => modelItem.kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.pris)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => modelItem.betalningsmetod)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => modelItem.ort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.postNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.koparID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.saljarID)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => modelItem.annonsID)
            </td>*@
    </tr>
</table>
<p>
    @if(@ViewBag.medalande != null)
    {
    <button class="mybutton">@Html.ActionLink("Köp", "Kop", new { id = Model.annonsID })</button>
    <button class="mybutton">@Html.ActionLink("Redigera", "Redigera", new { id = Model.annonsID })</button>
    }
    <button class="mybutton">@Html.ActionLink("Tillbaka till annonserna", "Index","Home")</button>
</p>
