@model AnnonsTjanst.ServiceReference1.Annonser

@{
    ViewBag.Title = "Detaljer";
}
<label>Inloggad som: </label>  @ViewBag.medalande
<table class="table">
    <tr>
        <th>
            Vara
        </th>
        <th>
            Beskrivning
        </th>
        @*<th>
            Bild
        </th>*@
        <th>
            Kategori
        </th>
        <th>
            Pris
        </th>
        @*<th>
            Betalningsmetod
        </th>*@
        <th>
            Ort
        </th>
        <th>
            Adress
        </th>
        <th>
            Postnummer
        </th>
        <th>
            Datum
        </th>
        <th>
            Status
        </th>
        <th>
            Köpare
        </th>
        <th>
            Säljare
        </th>
        @*<th>
            AnnonsID
        </th>*@
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.annonsNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.beskrivning)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => modelItem.bild)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => modelItem.kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.pris)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => modelItem.betalningsmetod)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => modelItem.ort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.postNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.koparID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.saljarID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => modelItem.annonsID)
        </td>*@
    </tr>
</table>

@*<div>
        <h4>Annons</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Vara
            </dt>

            <dd>
                @Html.DisplayFor(model => model.annonsNamn)
            </dd>

            <dt>
               Beskrivning
            </dt>

            <dd>
                @Html.DisplayFor(model => model.beskrivning)
            </dd>

            <dt>
                Bild
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bild)
            </dd>

            <dt>
                Kategori
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kategori)
            </dd>

            <dt>
                Pris
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pris)
            </dd>

            <dt>
                Betalningsmetod
            </dt>

            <dd>
                @Html.DisplayFor(model => model.betalningsmetod)
            </dd>

            <dt>
                Ort
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ort)
            </dd>

            <dt>
                Adress
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adress)
            </dd>

            <dt>
                Postnummer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.postNr)
            </dd>

            <dt>
                Datum
            </dt>

            <dd>
                @Html.DisplayFor(model => model.datum)
            </dd>

            <dt>
                Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                Köpare
            </dt>

            <dd>
                @Html.DisplayFor(model => model.koparID)
            </dd>

            <dt>
                Säljare
            </dt>

            <dd>
                @Html.DisplayFor(model => model.saljarID)
            </dd>

            <dt>
                AnnonsID
            </dt>

            <dd>
                @Html.DisplayFor(model => model.annonsID)
            </dd>

        </dl>
    </div>*@
<p>
    <button class="mybutton">@Html.ActionLink("Köp", "Kop", new { id = Model.annonsID })</button>
    <button class="mybutton">@Html.ActionLink("Redigera", "Redigera", new { id = Model.annonsID })</button>
    <button class="mybutton">@Html.ActionLink("Tillbaka till annonserna", "Index", "Home")</button>
</p>
